@charset "utf-8";


@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500&display=swap');
@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');

html, body{
	font-family: 'nanumsquare';
}

input:focus{
	outline : none;
}

ul, li{
	list-style: none;
}

body{
	min-width: 1280px;
	width: 1280px;
	margin: 0 auto;
}

/*Top css */
.topMenu{
	width: 1280px;
	text-align: right;
	margin-top: 24px auto;
}

.topMenu div{
	font-family: 'Noto Sans KR';
	display: inline-block;
	font-size: 14px;
	font-weight: 500;
	color: #191919;
	line-height: 1.43;
	border-right: solid 1px #191919;
	padding-right: 10px;
	cursor: pointer;
}

.topMenu div:last-child{
	border: none;
	padding-right: 0;
}

.logo img{
	display: black;
	margin: 24px auto 33px;
	width: 174px;
	height: 41px;
}

.Top{
	width: 1280px;
	margin: 0 auto;
}

.Top .logo img{
	display: block;
	margin: 24px auto 33px;
	width: 174px;
	height: 41px;
}

.Top .searchBox{
	float: right;
	width: 214px;
	height: 40px;
	border-radius: 20px;
	border : 1px solid #dddddd;
	background-color: rgba(238, 238, 238, 0.3);
	margin-top: -70px;
}

.Top .searchBox input{
	background-color: transparent;
	border: none;
	padding-left: 10px;
	padding-top: 5px;
	height: 30px;
	width: 170px;
	font-size: 16px;
}

.Top .searchBox img{
	width: 20px;
	height: 20px;
	cursor: pointer;
}

.menu{
	width: 1280px;
	margin: 0 auto;
	position: relative;
}

.menu > ul{
	display: flex;
	justify-content: space-evenly;
	margin: 0;
	padding: 0;
}

.menu > ul > li{
	display: inline-block;
	width: 161px;
	height: 70px;
	padding-top: 25px;
	font-size: 20px;
	font-weight: bold;
	color: #111111;
	cursor: pointer;
	text-align: center;
}

.menu > ul > li:active{
	border-bottom: 3px solid #29602b;
}

.menu > ul > li:hover{
	border-bottom: 3px solid #29602b;
}

.menu > ul > li:hover > ul{
	display: block;
}

.menu > ul > li > span{
	color: #29602b;
	font-weight: 800;
}

.Mmenu{
	position: absolute;
	width: 161px;;
	border: 1px solid #f1f1f1;
	background-color: #ffffff;
	z-index: 100;
	display: none;
}

.Mmenu ul{
	padding: 0;
}

.Mmenu ul li{
	display: block;
	width: 100%;
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	color: #111111;
	cursor: pointer;
	margin: 30px 0;
}

.Mmenu ul li:hover{
	color: #29602b;
	font-weight: 800;
}

.rlist{
	top: 99px;
	width: 126px;
	left: 319px;
	height: 164px;
}

.glist{
	top: 99px;
	width: 126px;
	left: 559px;
	height: 313px;
}

.playlist{
	top: 99px;
	width: 126px;
	left: 799px;
	height: 122px;
}

.content{
	width: 1280px;
	margin: 0 auto;
}

.content .MusicBox{
	margin-top: 55px;
}

.content .C_title{
	font-size: 24px;
	font-weight: bold;
	color: #111111;
	line-height: 0.9;
}

.content .MusicBox .SlideBox{
	width: 100%;
	margin-top: 27px;
	height: 340px;
}

.content .MusicBox .SlideBox .Music_item{
	position: relative; /* 박스 안으로 들어감 */
	display: inline-block;
	width: 300px;
	height: 300px;
	margin: 0 10px;
}

.content .MusicBox .SlideBox .Music_item img{
	width: 300px;
	height: 300px;	
}

.content .MusicBox .SlideBox .Music_item .MusicInfo{
	position: absolute;
	bottom: 0;
	width: 300px;
	height: 72px;
	
	background-color: rgba(58, 58, 58, 0.8);	
}

.content .MusicBox .SlideBox .Music_item .MusicInfo .M_title{
	font-size: 16px;
	color: #dedede;
	margin-bottom: 10px;
}

.content .MusicBox .SlideBox .Music_item .MusicInfo .Name{
	font-size: 16px;
	color: #bebebe;
}

.content .MusicBox .SlideBox .Music_item .MusicInfo .playBtn{
	position: absolute;
	right: 17px;
	width: 20px;
	height: 20px;
	float: right;
}

.slick-dots li button:before{
	width: 16px;
	height: 16px;
	color: transparent;
	border: 1px solid #29602b;
	border-radius: 50%;
	content: '';
	opacity: 1;
}

.slick-dots li.slick-active{
	width: 26px;
}

.slick-dots li.slick-active button:before{
	width: 26px;
	background-color: #29602b;
	border-radius: 8px;
	opacity: 1;
}


.slick-arrow{
	width: 62px;
	height: 62px;
	top: calc(50% - 31px);
}
.slick-arrow:before{
	color: transparent;
}
.slick-next{
	background-image: url('../../static/img/btn_right.png');
	right: -80px;
}
.slick-prev{
	background-image: url('../../static/img/btn_left.png');
	left: -80px;
}
.content .banner{
	width: 1280px;
	margin: 136px 0;
	overflow-x: hidden;
	position: relative;
}
.content .banner .bannerItem{
	width: 1280px;
	height: 225px;
	background-color: #d1e1d2;
	border: 1px solid #000000;
		
}

.swiper-pagination{
	position: absolute;
}

.swiper-pagination-bullet{
	width: 14px;
	height: 14px;
	border: 2px solid #29602b;
	background-color: transparent;
	opacity: 1;
}

.swiper-pagination-bullet-active{
	background-color: #29602b;
}

.content .chartBox{
	display: flex;
	justify-content: space-between;
	margin-bottom: 145px;
	
}
.content .chartBox .Ctitle{
	font-size: 24px;
	font-weight: bold;
	color: #111111;
	border-bottom: 3px solid #000000;
	padding: 0 6px 12px;
}
.content .chartBox .moreBtn{
	float: right;
	font-size: 16px;
	color: #777777;
	margin-top: 3px;
	cursor: pointer;
}
.content .chartBox .moreBtn img{
	width: 9px;
	height:13px;
}

.content .chartBox .musicTitle{
	font-size: 16px;
	color: #000000;
}

.content .chartBox .playBtn{
	width: 20px;
	height: 20px;
	cursor: pointer;
}

.content .chartBox .moreBtn img{
	width: 9px;
	height: 13px;
}
.content .chartBox .musicChart{
	width: 750px;
}

.content .chartBox .musicChart .chartlist .listItem{
	display: grid;
	grid-template-columns: 1fr 10fr 5fr 1fr;
	border-bottom: 1px solid #eeeeee;
	padding: 17px 0;
}

.content .chartBox .musicChart .chartlist .listItem .rank{
	font-size: 20px;
	font-weight: bold;
	text-align: center;
}

.content .chartBox .musicChart .chartlist .listItem .musicTitle{
	margin-top: 2px;
}
.content .chartBox .musicChart .chartlist .listItem .singer{
	font-size: 16px;
	color: #929292;
	margin-top: 2px;
}
.content .chartBox .musicChart .chartlist .listItem .playBtn{
	width: 20px;
	height: 20px;
}

.content .chartBox .albumChart{
	width: 450px;
}
.content .chartBox .albumChart .chartlist .listItem{
	padding: 15px 10px;
	border-bottom: 1px solid #eeeeee;
	height: 194px;
}
.content .chartBox .albumChart .chartlist .listItem .albumImg{
	width: 160px;
	height: 160px;
	float: left;
	margin-right: 22px;
}
.content .chartBox .albumChart .chartlist .listItem .albumImg img{
	width: 160px;
	height: 160px;
}
.content .chartBox .albumChart .chartlist .listItem .albumInfo{
	float: left;
	margin-top: 42px;
}
.content .chartBox .albumChart .chartlist .listItem .singer{
	font-size: 14px;
	color: #929292;
	margin: 20px 0 44px;
}

.content .videoChart .Ctitle{
	font-size: 24px;
	font-weight: bold;
	color: #111111;
	border-bottom: 3px solid #000000;
	padding: 0 6px 12px;
}
.content .videoChart .moreBtn{
	float: right;
	font-size: 16px;
	color: #777777;
	margin-top: 3px;
	cursor: pointer;
}

.content .videoChart{
	width: 100%;
	margin-bottom: 150px;
}

.content .videoChart .chartlist{
	display: flex;
	justify-content: space-evenly;
	margin-top: 25px;
}

.content .videoChart .chartlist .listItem{
	display: inline-block;
	width: 300px;
	height: 192px;
}
.content .videoChart .chartlist .listItem iframe{
	width: 300px;
	height: 192px;
}
.content .bottomMenu{
	font-family: "Noto sans KR";
	border-top: 1px solid #eeeeee;
	padding-top: 32px;
	display: flex;
	margin-bottom: 40px;
	justify-content: space-between;
}
.content .bottomMenu .notice{
	width: 715px;
}
.content .bottomMenu .notice .title{
	font-size: 16px;
	font-weight: 500;
}
.content .bottomMenu .notice .title .moreBtn{
	float: right;
	font-size: 14px;
	font-weight: 400;
}
.content .bottomMenu .notice .title .moreBtn img{
	width: 9px;
	height: 9px;
}

.content .bottomMenu .notice .noticelist .listItem{
	border-bottom: 1px  solid #eeeeee;
	padding: 11px 0;
	font-size: 14px;
	color: #777777;
	display: flex;
	justify-content: space-between;
	cursor: pointer;
}
.content .bottomMenu .custmerCenter{
	margin: 2px 70px 0 0;
}


.content .bottomMenu .custmerCenter .cTitle{
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 4px;
}
.content .bottomMenu .custmerCenter .cNum{
	font-size: 30px;
	font-weight: bold;
	color: #29602b;
	margin-bottom: 11px;
}
.content .bottomMenu .custmerCenter .cInfo{
	font-size: 16px;
	color: #707070;
	margin-bottom: 4px;
	line-height: 1.5;
}


/* footer css */
.footer{
	width: 100%;
	height: 225px;
	background-color: #eeeeee;
	color: #0d0d0d;
	padding: 23px, 0;
}
.footer .footerMenu{
	font-size: 16px;
	font-weight: bold;
	line-height: 1.76;
}
.footer .footerMenu p{
	display: inline-block;
}
.footer .footerMenu p a{
	cursor: pointer;
}
.footer .footerMenu p span{
	padding: 0 15px;
}
.footer .footerText{
	font-size: 16px;
	line-height: 1.69;
}
.footer .footerText span{
	margin: 0 20px;
}
.footer .footerlogo{
	float: right;
	width: 244px;
	height: 56px;
	margin-top: -60px;
	background-image: url('../../static/img/MusicTree_logo_big@2x.png');
	background-size: contain;
}


/* musicChart css */
.Mcontent{
	width: 1280px;
	margin: 0 auto;
	padding: 40px 0 150px;
}

.Mcontent .title{
	font-size: 24px;
	color: #111111;
	line-height: 0.9;
	font-weight: bold;
}

.Mcontent .date{
	text-align: center;
	font-size: 20px;
}

.Mcontent .date span{
	color: #29602b;
	font-size: 20px;
	font-weight: bold;
}

.Mcontent .btns{
	text-align: right;
	margin-top: 10px;
}
.Mcontent .btns img{
	height: 30px;
	cursor: pointer;
}

.Mcontent .musicChart{
	margin-top: 20px;
}
.Mcontent .musicChart .chartTop{
	border-top: 1px solid #eeeeee;
	border-bottom: 1px solid #eeeeee;
	padding: 15px 0;
	display: grid;
	grid-template-columns: 1fr 1fr 15fr 1fr 1fr;
}

.Mcontent .musicChart .chartTop div{
	font-size: 16px;
	text-align: center;
	color: #000000;
}
.Mcontent .musicChart .chartlist{
	display: table;
}

.Mcontent .musicChart .chartTop .listItem{
	padding: 10px;
	border-bottom: 1px solid #eeeeee;
	display: table-row;
	height: 80px;
}

.Mcontent .musicChart .chartTop .listItem div{
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	width: 67px;
}

.Mcontent .musicChart .chartlist .listItem{
	padding: 10px;
	display: table-row;
	height: 80px;
}

.Mcontent .musicChart .chartlist .listItem div{
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	width: 67px;
	border-bottom: 1px solid #eeeeee;
}


.Mcontent .musicChart .chartlist .listItem .rank{
	font-size: 20px;
	font-weight: bold;
}
.Mcontent .musicChart .chartlist .listItem .musicCover{
	width: 60px;
	height: 60px;
}
.Mcontent .musicChart .chartlist .listItem .title{
	font-size: 16px;
	width: 350px;
	text-align: left;
}
.Mcontent .musicChart .chartlist .listItem .singer{
	font-size: 16px;
	color: #929292;
	width: 500px;
	text-align: left;
}
.Mcontent .musicChart .chartlist .listItem .playBtn, .Mcontent .musicChart .chartlist .listItem .addBtn {
	width: 20px;
	height: 20px;
	cursor: pointer;
}

.Mcontent .loading{
	display: block;
	width: 150px;
	height: 150px;
	margin: 50px auto;
} 

.Mcontent .position{
	color: #848484;
	font-size: 14px;
	margin-bottom: 20px;
}

.Mcontent .albumChart{
	margin-top: 100px;
}

.Mcontent .albumChart .chartlist .listItem{
	width: 600px;
	height: 160px;
	border: 1px solid #eeeeee;
	display: inline-block;
	margin: 0 70px 20px 0;
}

.Mcontent .albumChart .chartlist .listItem:nth-child(2n - 1){
	margin-right: 0;
}

.Mcontent .albumChart .chartlist .listItem .albumImg{
		width: 160px;
	height: 160px;
	float: left;
	margin-right: 22px;
}
.Mcontent .albumChart .chartlist .listItem .albumImg img{
	width: 160px;
	height: 160px;
}
.Mcontent .albumChart .chartlist .listItem .albumInfo{
	float: left;
	padding-top: 22px;
}
.Mcontent .albumChart .chartlist .listItem .albumInfo .musicTitle{
	font-size: 16px;
	margin-bottom: 16px;
}
.Mcontent .albumChart .chartlist .listItem .albumInfo .singer{
	font-size: 14px;
	color: #929292;
	margin-bottom: 30px;
}
.Mcontent .albumChart .chartlist .listItem .albumInfo .playBtn{
	width: 20px;
	height: 20px;
	cursor: pointer;
}